@(title: String, user: User)

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SoCri - @title</title>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico?v=2")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="@routes.Assets.at("lib/font-awesome/css/font-awesome.css")" />

    <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
</head>
