@(message: Message, loginForm: Form[LoginForm])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Auth", message, null) {
    <div id="login" class="container">
        @helper.form(action = routes.Auth.login(), 'class -> "form-signin") {

            <h2 class="form-signin-heading">Who dis?</h2>

            @helper.inputText(loginForm("username"), '_label -> "Username", 'class -> "form-control")
            @helper.inputPassword(loginForm("password"), '_label -> "Password", 'class -> "form-control")

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        }
    </div>
}
