@import forms.LoginForm
@(loginForm: Form[LoginForm])
@implicitFieldConstructor = @{
    helper.FieldConstructor(twitterBootstrapInput.render)
}

@main("Auth", null) {
    <div id="login" class="container">
    @helper.form(action = routes.UserController.doLogin(), 'class -> "form-signin") {

        <h2 class="form-signin-heading">Who dis?</h2>

        @helper.inputText(loginForm("username"), '_label -> "Username", 'class -> "form-control")
        @helper.inputPassword(loginForm("password"), '_label -> "Password", 'class -> "form-control")

        <button id="loginSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    }
    </div>
}
