<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>SoCri</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/landing.css")">

        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="/"><span class="label label-default">ಠ_ಠ</span> SoCri</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/signup">Signup</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <a name="about"></a>
        <div class="intro-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>SoCri</h1>
                            <h3>A social approach to the underworld</h3>
                            <hr class="intro-divider">
                            <p>Get started today!</p>
                            <ul class="list-inline intro-social-buttons">
                                <li>
                                    <a href="/signup" class="btn btn-default btn-lg"><span class="network-name">Signup</span></a>
                                </li>
                                <li>
                                    <a href="/login" class="btn btn-default btn-lg"><span class="network-name">Login</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a  name="services"></a>

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">SoCri is 100% Social</h2>
                        <p class="lead">Easily connect with others sharing similar interests. Workshops, training seminars, and gatherings are just a click away! Say goodbye to the days of hanging out under briges, Italian resturaunts, and grungy hideouts.</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="/assets/images/crime2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">SoCri is 100% Safe</h2>
                        <p class="lead">No names. No locations. No logs. From lending to larceny, everything is completely anonymous and untraceable.</p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="/assets/images/crime4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">SoCri is 100% Smooth</h2>
                        <p class="lead">All new accounts are eligible for an immediate short term "loan" of $500 or more! Annie, are OK?</p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        <img class="img-responsive" src="/assets/images/crime5.gif" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">SoCri is 100% Crime</h2>
                        <p class="lead">Exciting new services are rolling out every day. Try a few today!
                            <ul>
                                <li>Short term "loans"</li>
                                <li>Money laundering</li>
                                <li>Racketeering</li>
                                <li>Bootlegging</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <img class="img-responsive" src="/assets/images/crime3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li>
                                <a href="#">Home</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#about">About</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li class="footer-menu-divider">&sdot;</li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                        <p class="copyright text-muted small">Copyright &copy; SoCri 2016. All Rights Enforced BY DEATH</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
