@(user: User)

<!DOCTYPE html>

<html>
    <head>
        @header("Welcome", user)
    </head>
    <body>
        @navbar(user)

    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>SoCri</h1>
                        <h3>A social approach to the underworld</h3>
                        <hr class="intro-divider">
                        <p>Get started today!</p>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="@routes.Signup.get()" class="btn btn-default btn-lg"><span class="network-name">Signup</span></a>
                            </li>
                            <li>
                                <a href="@routes.Auth.get()" class="btn btn-default btn-lg"><span class="network-name">Login</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a name="services"></a>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SoCri is 100% Social</h2>
                    <p class="lead">Easily connect with others sharing similar interests. Workshops, training seminars, and gatherings are just a click away! Say goodbye to the days of hanging out under briges, Italian resturaunts, and grungy hideouts.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="@routes.Assets.at("images/crime2.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SoCri is 100% Safe</h2>
                    <p class="lead">No names. No locations. No logs. From lending to larceny, everything is completely anonymous and untraceable.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="@routes.Assets.at("images/crime4.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SoCri is 100% Smooth</h2>
                    <p class="lead">All new accounts are eligible for an immediate short term "loan" of $500 or more! Annie, are OK?</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="@routes.Assets.at("images/crime5.gif")" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">SoCri is 100% Crime</h2>
                    <p class="lead">Exciting new services are rolling out every day. Try a few today!
                <ul>
                    <li>Short term "loans"</li>
                    <li>Money laundering</li>
                    <li>Racketeering</li>
                    <li>Bootlegging</li>
                </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="@routes.Assets.at("images/crime3.jpg")" alt="">
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; SoCri 2016. All Rights Enforced BY DEATH</p>
                </div>
            </div>
        </div>
    </footer>
    </body>
</html>
